<br/>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
    <i class=""></i>
        <h1 class="display-5 fw-bold">Pinata</h1>
        <p class="col-md-8 fs-4">A Pinterest clone app</p>
        <%= link_to "Login", root_path, class: "btn btn-outline-dark btn-lg", type: "button" %>
        <%= link_to "Sign up", root_path, class: "btn btn-outline-secondary btn-lg", type: "button" %>
    </div>
</div>